<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'src/application', media: 'all'%>
    <%#= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
  </head>
  <body >
     <div class="row <%= class_selector(params) %>">
      <%= render "shared/nav" %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <div class="<%= @page %>-page">
        <div class="col-4 page" style="margin-top: -50px;">
          <%= render'layouts/links' %>
        </div>
        <div class='col-8 container' style="margin-top: -150px;">
          <% unless @page == 'home'%>
          <%= render 'layouts/title' %>
          <% end %>
        <%= yield %>
        </div>
      </div>
   </div>
  </body>
</html>
